<div class="container">
  <h1>My Reviews</h1>
  <% @reviews.each do |review| %>
    <div class="user-review-card mx-0 mb-3">
      <% if review.booking.property.photos.attached? %>
        <div class="user-review-card-photo">
          <%= cl_image_tag review.booking.property.photos.first.key, height: 150, width: 200, crop: :fill %>
        </div>
      <% end %>
      <div class="user-review-card-info justify-content-between flex-grow-1">
        <div class="user-review-card-info-text">
          <h3><%= review.booking.property.name %></h3>
          <p><%= review.content.capitalize %></p>
          <div class="review-rating">
            <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% blank_stars = 5 - review.rating %>
            <% blank_stars.times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>
        </div>
        <div class="booking-info">
          <div class="info-price-date">
            <% length = review.booking.end_date - review.booking.start_date %>
            <% total_price = review.booking.property.price * length %>
            <h4><%= review.booking.start_date %> - <%= review.booking.end_date %></h4>
            <h3><%= number_to_currency(total_price, unit: "£", precision: 0) %></h3>
            </div>
          <div class="icons-review">
            <%= link_to edit_booking_review_path(review.booking, review) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to review_path(review), method: :delete, data:
              { confirm: 'Are you certain you want to delete this?' } do %>
              <i class="fas fa-trash"></i>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
