<div class="container">
  <% @properties.each do |property| %>
  <%= link_to property_bookings_path(property) do %>
  <div class="user-property-card">
    <% if property.photos.attached? %>
      <div class="user-property-card-photo"><%= cl_image_tag property.photos[0].key, height: 150, width: 200, crop: :fill %>
      </div>
    <% end %>
    <div class="user-property-card-info">
      <h3><%= property.name%></h3>
      <h5><%= property.capacity%> guests · <%=property.property_type %> · £<%= property.price.to_i %>/night</h5>
      <p> <%= property.description.capitalize %></p>
      <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Delete Property
      </button> -->
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title-properties" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-properties">
          Deleting this property will erase all current bookings!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><%#= link_to "Delete Property", properties_path(property), method: :delete %></button>
        </div>
      </div>
    </div>
  </div>

</div>
 -->
