  <div class="d-flex">
    <div class="card-holder">
      <h2>Results for "<%= @query %>":</h2>
      <% unless @results %>
        <div class="index-property-card">
          <p class="no-results"><i class="fas fa-times text-danger"></i>  No results for "<%= @query %></p>
        </div>
        <h2>We suggest:</h2>
      <% end %>
      <%@properties_with_stars.each do |property|%>
        <div class="index-property-card">
          <% if property[:property].photos.attached? %>
            <%= cl_image_tag property[:property].photos.first.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="index-card-product-infos">
            <h4><%= link_to property[:property].name, property_path(property[:property])%></h4>
            <h6><%= property[:property].capacity%> guests · <%=property[:property].property_type %> · <%= number_to_currency(property[:property].price, unit: "£", precision: 0) %>/night</h6>
            <p> <%= property[:property].description.capitalize %></p>
            <% unless property[:average_rating].nil? %>
            <p> <% property[:average_rating].times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% property[:blank_stars].times do %>
              <i class="far fa-star"></i>
            <% end %>
            <% end %>
          </p>
          </div>
        </div>
      <% end %>
    </div>
    <!-- <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiZ3VzLXQyNyIsImEiOiJjazlvYmlhYzgwYTh3M25vOGtpenVpOHE0In0.bn0KuBfLkQ7DXflf-mE5RA'> -->
    <div id="map"
     style="width: 100%; height: 100vh; position: sticky: top: 0;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

<footer>

</footer>
