<div class="container">
  <div class="property-header">
    <div class="property-title">
      <h1 class="text-primary"><%= @property.name %></h1>
    </div>
    <div class="property-links d-flex justify-content-between">
      <h5><%= @property.location %></h5>
      <div class="quick-links">
        <i>⏫ share</i>
        <i>♥️ save</i>
      </div>
    </div>
  </div>

  <% if @property.photos.attached? %>
    <%= render 'shared/img_carousel' %>
  <% end %>

  <div class="property-body mt-5">
    <div class="row">
      <div class="property-details col-8">
        <div class="property-info border-bottom">
          <h3>Host: <%= @property.user.name%> </h3>
          <ul class="property-list">
            <li><%= @property.property_type %></li>
            <li>Capacity: <%= @property.capacity %></li>
          </ul>
          <ul class="service-list">
            <% @property.services.each do |service| %>
              <li><%= service.name %></li>
              <i class="<%= service.icon %>"></i>
            <% end %>
          </ul>
        </div>
        <div class="property-desctription">
          <%= @property.description %>
        </div>
      </div>

      <div class="property-booking-tool col-4 border">
        <div class="booking-tool-header">
          <h2 class="p-0 my-3">Make a booking:</h2>
          <div class="price-header">
             <p class="text-success"> <%= number_to_currency(@property.price, unit: "£", precision: 0) %> / night </p>
          </div>
        </div>
        <div class="dates w-100 pb-2">
          <%= render 'bookings/form', booking: Booking.new, property: @property %>
        </div>
<!-- TODO calculate price based on form input -->
<!--         <div class="price">
          <div class="price-per-night d-flex justify-content-between">
            <p>£ <%= @property.price %> * Nights</p>
            <p>Total price</p>
          </div>
          <div class="fees d-flex justify-content-between border-bottom">
            <p>Fees</p>
            <p>£35</p>
          </div>
          <div class="total-price d-flex justify-content-between">
            <p>Total Due</p>
            <p><%= @property.price  %> * # of nights</p>
        </div>
      </div>
       -->
      </div>
    </div>
  </div>
</div>
