<div class="container">
  <div class="property-header">
    <div class="property-title">
      <h1 class="text-primary"><%= @property.name %>
        <% unless @average_rating == nil %>
          <% @average_rating.times do %>
            <i class="fas fa-star"></i>
      <% end %>

        <% @blank_stars.times do %>
          <i class="far fa-star"></i>
        <% end %>
      <% end %>
    </h1>
    </div>
    <div class="property-links d-flex justify-content-between">
      <h5><%= @property.location %></h5>
      <div class="quick-links">
        <i>⏫ share</i>
        <i>♥️ save</i>
      </div>
    </div>
  </div>

  <% if @property.photos.attached? %>
    <%= render 'shared/img_carousel' %>
  <% end %>


  <div class="property-title mt-3">
    <div class="property-details">

      <div class="property-info border-bottom">
        <h3>Host: <%= @property.user.name%> </h3>
        <div class="d-flex justify-content-between">
          <ul class="property-list">
            <li><%= @property.property_type %></li>
            <li>Capacity: <%= @property.capacity %></li>
          </ul>
          <ul class="service-list">
            <% @property.services.each do |service| %>
              <li class="m-1"><%= service.name %>
                <i class="<%= service.icon %>"></i>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-7">
          <div class="property-desctription m-3">
            <%= @property.description.capitalize %>
          </div>

          <div class="container property-booking-tool">
            <div class="booking-tool-header">

              <h2 class="p-0 my-3">Make a booking:</h2>
              <div class="price-header">
                 <p class="text-success"> <%= number_to_currency(@property.price, unit: "£", precision: 0) %> / night </p>
              </div>
            </div>
            <div class="dates w-100 pb-2">
              <%= render 'bookings/form', booking: Booking.new, property: @property %>
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="reviews ml-3">
            <% @property.reviews.each do |review|%>
              <div class="review my-3">
                <div class="review-rating">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% blank_stars = 5 - review.rating %>
                  <% blank_stars.times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
                <div class="review-content">
                <%= review.user.name%>: <%= review.content %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
