<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
url('<%= cl_image_path "background_njhgsm", height: 600, crop: :fill %>'); background-size: cover;">
  <div class="title">
    <h1>AirBnB</h1>
    <h4>Find your luxurious getaway</h4>
  </div>

  <form method="get" action="/properties">
    <input type="text" name="query" autocomplete="off" placeholder="Search" tabindex="100">
  </form>
</div>

  <h2>Recently Added</h2>
  <% new_properties = @properties.sort_by {|obj| obj.created_at} %>
  <% new_properties = new_properties %>

  <%new_properties.each do |property|%>
  <div class="homepage-property-card">
    <% if property.photos.attached? %>
      <div class="homepage-property-card-photo"><%= cl_image_tag property.photos[0].key, height: 150, width: 200, crop: :fill %>
      </div>
    <% end %>
    <div class="homepage-property-card-info">
      <h3><%= link_to property.name, property_path(property)%></h3>
      <h5><%= property.capacity%> guests · <%=property.property_type %> · £<%= property.price.to_i %>/night</h5>
      <p> <%= property.description.capitalize %></p>
    </div>
  </div>
  <% end %>
